nodes/nodes
  [{"id":"472f668a.89d5d8","type":"change","z":"a0d65f24.6811c","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":175,"y":160,"wires":[["f7ff9514.5014e8","fa8a365a.6eb1e8"]]},{"id":"3428ab28.0d8eb4","type":"switch","z":"a0d65f24.6811c","name":"Check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":345,"y":40,"wires":[["270c495c.462e56"],["472f668a.89d5d8"]]},{"id":"521b5e53.97de4","type":"http in","z":"a0d65f24.6811c","name":"","url":"/upload/","method":"get","swaggerDoc":"","x":89,"y":41,"wires":[["3428ab28.0d8eb4"]]},{"id":"a2fb770b.d392f8","type":"template","z":"a0d65f24.6811c","name":"Prompt images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Upload</title>\n        <style>{{payload.style}}</style>\n        <link rel=\"stylesheet\" href=\"general.css\" />\n    </head>\n    <body>\n      <div class=\"banner\">\n        <h1>Upload</h1>\n      </div>\n      <div class = \"navbar\" >\n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/home\" style=\"text-decoration:none\">home</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/user_choices\" style=\"text-decoration:none\">suggestions</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/closet\" style=\"text-decoration:none\">closet</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/upload\" style=\"text-decoration:none\">upload</a></p> \n      </div>\n      <div class=\"generalbody\">\n        <div class =\"uploadbody\">\n          <p>\n            <img style='border:10px solid #9BA7BF' class=\"img\" src=\"https://raw.githubusercontent.com/ikelee/BelAirHacks-/master/images/clostind.jpg\" width=200px height=300px/> \n          \t<br></br>\n            \t<form id=\"uploadbanner\" enctype=\"multipart/form-data\" method=\"post\" action=\"#\">\n     \t\t\t<input id=\"fileupload\" name=\"myfile\" type=\"file\" />\n     \t\t\t<input type=\"submit\" value=\"submit\" id=\"submit\" />\n  \t\t\t</form>\n          </p>\n        </div>\n      </div>\n      <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>\n      <form  action=\"{{req._parsedUrl.pathname}}\">\n    <br>Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n    </body>\n</html>","x":759.5841827392578,"y":35.73560619354248,"wires":[["d7c2ded7.78fd"]]},{"id":"93d9c79.ce52638","type":"template","z":"a0d65f24.6811c","name":"Report Object via HTML template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Filling up Your Closet</h1>\n    <p>Analyzed image: {{result.images.0.resolved_url}}<br/><img id=\"image\" src=\"{{result.images.0.resolved_url}}\" height=\"200\"/></p>\n    <table border='1'>\n        <thead><tr><th>Class</th><th>Confidence</th><th>Type</th></tr></thead>\n        {{#result.images.0.classifiers.0.classes}}<tr>\n            <td><b>{{class}}</b></td>\n            <td><i>{{score}}</i></td>\n            <td>{{type_hierarchy}}</td>\n        </tr>{{/result.images.0.classifiers.0.classes}}\n    </table>\n    <table border='1'>\n        <thead><tr><th>Class</th><th>Confidence</th><th>Type</th></tr></thead>\n        {{#result.images.0.classifiers.1.classes}}<tr>\n            <td><b>{{class}}</b></td>\n            <td><i>{{score}}</i></td>\n            <td>{{type_hierarchy}}</td>\n        </tr>{{/result.images.0.classifiers.1.classes}}\n    </table>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n    </form>","x":877,"y":161,"wires":[["d7c2ded7.78fd"]]},{"id":"d7c2ded7.78fd","type":"http response","z":"a0d65f24.6811c","name":"","x":1127,"y":41,"wires":[]},{"id":"5e6546d5.3b3c28","type":"debug","z":"a0d65f24.6811c","name":"Print msg.result.images","active":true,"console":"false","complete":"result.images","x":847,"y":201,"wires":[]},{"id":"b85d6ca.778599","type":"comment","z":"a0d65f24.6811c","name":"Step #1 - Create a Visual Recognition Service","info":"1. Log into your Bluemix account\n2. Navigate to the Bluemix Catalog\n3. Scroll to the Watson Services section\n4. Find and click on the Visual Recognition service\n5. Create an unbounded Visual Recognition instance\n6. Open the new service and navigate to the Service Credentials\n7. Copy the api_key to the clipboard\n8. Open the above \"visual recognition v3\" node and paste your new API Key","x":615,"y":120,"wires":[]},{"id":"f7ff9514.5014e8","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"payload","x":407,"y":241,"wires":[]},{"id":"efcb43fd.cb53","type":"visual-recognition-v3","z":"a0d65f24.6811c","name":"","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":587,"y":161,"wires":[["93d9c79.ce52638","5e6546d5.3b3c28","1ffe698b.3afdf6"]]},{"id":"54097751.131fd8","type":"cloudant out","z":"a0d65f24.6811c","name":"","cloudant":"","database":"clothing_data","service":"TinderLogicClothes-cloudantNoSQLDB","payonly":false,"operation":"insert","x":977,"y":281,"wires":[]},{"id":"1ffe698b.3afdf6","type":"function","z":"a0d65f24.6811c","name":"Filter","func":"//filter and read json\n//input is a json list of array size 1\nvar obj = msg.result.images[0]['classifiers'][0]['classes'];\n\nvar tops = {\"shirt\":1,\"shirttail\":1,\"T-shirt\":1,\"long sleeve\":1};\nvar bottom = {\"trouser\":2, \"blue jean\":2,\"pants\":2};\nvar outer = {\"sweater\":3,\"jacket\":3,\"coat\":3};\n\nvar listOfColours = [];\n\nvar info = {\n                \"clothing_type\":-1,\n                \"color\":\"\",\n                \"url\" : msg.result.images[0]['resolved_url'],\n            }\n\n\nfor(var i = 0; i < obj.length; i++)\n{\n    \n    if(info[\"clothing_type\"] === -1){//if clothing type has not been decided\n        if(obj[i][\"class\"] in tops){\n            info[\"clothing_type\"] = 0;\n        }\n        else if(obj[i][\"class\"] in bottom){\n            info[\"clothing_type\"] = 1;\n        }\n        else if(obj[i][\"class\"] in outer){\n            info[\"clothing_type\"] = 2;\n        }\n    }\n    \n    if(obj[i][\"class\"].includes('color')){\n        listOfColours.push(i);\n    }\n}\n\nvar max = 0.0;\n\nfor(var x = 0; x < listOfColours.length; x++){\n    var index = listOfColours[x]\n    if(obj[index][\"score\"] > max){\n        max = obj[index][\"score\"];\n        info[\"color\"] = obj[index][\"class\"];\n    }\n}\n\nif (info[\"clothing_type\"] == '-1') {\n    return null;\n} \n\nvar newMsg = {payload:info}\nreturn newMsg;","outputs":1,"noerr":0,"x":767,"y":281,"wires":[["75bd4d3b.498724","54097751.131fd8"]]},{"id":"75bd4d3b.498724","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"false","x":967,"y":321,"wires":[]},{"id":"c022d6d1.f8dfa8","type":"function","z":"a0d65f24.6811c","name":"creating_outfits","func":"var obj = msg.payload;\n\nvar outfits = [];\nvar outerwears = []; \nvar pants = []; \nvar shirts = [];\nvar outerwears_url = []; \nvar pants_url = []; \nvar shirts_url = [];\n\nfor(var i = 0; i< obj.length; i++){\n    if(obj[i].payload.clothing_type===0){\n        shirts.push(obj[i]._id);\n        shirts_url.push(obj[i].payload.url);\n\n    }\n    else if(obj[i].payload.clothing_type==1){\n        pants.push(obj[i]._id);\n        pants_url.push(obj[i].payload.url);\n    }\n    else if(obj[i].payload.clothing_type==2){\n        outerwears.push(obj[i]._id);\n        outerwears_url.push(obj[i].payload.url);\n    }\n}\n\nvar counter = 0;\n\nfor(var i = 0; i<shirts.length; i++){\n    for(var j = 0; j<pants.length; j++){\n        for(var k = 0; k<outerwears.length; k++){\n            outfits.push({'id':counter,'top':shirts[i],'bottom':pants[j],'outerwears':outerwears[k], 'top_url':shirts_url[i], 'bottom_url': pants_url[j], 'outerwears_url':outerwears_url[k], 'value':0});\n            counter++;\n        }\n    }\n}\n\nvar newMsg = {\"payload\": outfits}; \nmsg.payload = outfits;\n\n\nvar outmsg = [newMsg,msg];\nreturn outmsg;\n","outputs":"2","noerr":0,"x":573.3313903808594,"y":495.5850524902344,"wires":[["df874ada.2e7ec8","aad44e5a.70eea"],["11702aa.86918d5"]]},{"id":"5e3e63d4.0b945c","type":"cloudant in","z":"a0d65f24.6811c","name":"","cloudant":"","database":"clothing_data","service":"TinderLogicClothes-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":377,"y":501,"wires":[["c022d6d1.f8dfa8"]]},{"id":"fa8a365a.6eb1e8","type":"function","z":"a0d65f24.6811c","name":"","func":"msg.params = {};\nmsg.params[\"classifier_ids\"]=\"Asymmetry_64254664,default\";\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":161,"wires":[["efcb43fd.cb53","481d446b.8bf3dc"]]},{"id":"481d446b.8bf3dc","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"payload","x":567,"y":241,"wires":[]},{"id":"86b9f79.68c0208","type":"http in","z":"a0d65f24.6811c","name":"","url":"/user_choices/","method":"get","swaggerDoc":"","x":167,"y":501,"wires":[["5e3e63d4.0b945c"]]},{"id":"d0028226.915a3","type":"cloudant in","z":"a0d65f24.6811c","name":"","cloudant":"","database":"clothing_data","service":"TinderLogicClothes-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":391,"y":1287,"wires":[["4c02b0a8.b8ce2"]]},{"id":"6335289.d6904d8","type":"http in","z":"a0d65f24.6811c","name":"","url":"/closet","method":"get","swaggerDoc":"","x":133.25,"y":1283.75,"wires":[["d0028226.915a3"]]},{"id":"17dfe04a.c0d92","type":"http response","z":"a0d65f24.6811c","name":"","x":1123.75,"y":1288.5,"wires":[]},{"id":"3aa7964f.6ac6ca","type":"http in","z":"a0d65f24.6811c","name":"","url":"/user_outfits","method":"get","swaggerDoc":"","x":152.91666412353516,"y":1198.2221641540527,"wires":[["378a2bdf.7f28e4"]]},{"id":"9fed32f1.2201a","type":"http response","z":"a0d65f24.6811c","name":"","x":679.9318084716797,"y":1179.1817893981934,"wires":[]},{"id":"378a2bdf.7f28e4","type":"cloudant in","z":"a0d65f24.6811c","name":"","cloudant":"","database":"user_outfits","service":"TinderLogicClothes-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":389,"y":1202.0000114440918,"wires":[["9fed32f1.2201a","42cf20db.be8af"]]},{"id":"42cf20db.be8af","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"false","x":616.5,"y":1219.5,"wires":[]},{"id":"711321d4.004ca","type":"http response","z":"a0d65f24.6811c","name":"","x":1332.0000495910645,"y":546.9999885559082,"wires":[]},{"id":"df874ada.2e7ec8","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"true","x":728,"y":418,"wires":[]},{"id":"aa7c29d5.581768","type":"template","z":"a0d65f24.6811c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>{{payload.style}}</style>\n        <title>Suggestions</title>\n        <link rel=\"stylesheet\" href=\"general.css\" />\n    </head>\n    <body>\n      <div class=\"banner\">\n        <h1>Suggestions</h1>\n      </div>\n      <div class = \"navbar\" >\n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/home\" style=\"text-decoration:none\">home</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/user_choices\" style=\"text-decoration:none\">suggestions</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/closet\" style=\"text-decoration:none\">closet</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/upload\" style=\"text-decoration:none\">upload</a></p>   \n      </div>\n      <br></br>\n      <form action=\"#\" method=\"post\">\n        <div class =\"buttonbar\">\n            <div class=\"brokenheart\">\n                <button width=\"80px\" height=\"80px\" type=\"submit\"  name=\"disliked\">\n                    <img src=\"https://github.com/ikelee/BelAirHacks-/blob/master/images/brokenheart.jpg?raw=true\" width=\"80px\" height=\"80px\"/>\n                </button>\n            </div>\n            <div>\n                <img src=\"https://raw.githubusercontent.com/ikelee/BelAirHacks-/master/images/line.jpg\" width=\"20px\" height=\"1px\">\n            </div>\n            <div class=\"heart\">\n                <button width=\"80px\" height=\"80px\" type=\"submit\"  name=\"liked\">\n                    <img src=\"https://github.com/ikelee/BelAirHacks-/blob/master/images/fullheart.jpg?raw=true\"  width=\"80px\" height=\"80px\" type=\"submit\" name=\"liked\"/>\n                </a>\n            </div>\n    </form>\n        <br/>\n        <br/>\n        <div class=\"background\">\n            <img style=\n            \"width: 200px; height:400px;\" \n            src = \"{{payload.1}}\"/>\n            <div>\n                <img src=\"https://raw.githubusercontent.com/ikelee/BelAirHacks-/master/images/line.jpg\" width=\"20px\" height=\"1px\">\n            </div>\n            <img style=\n            \"width: 200px; height:400px;\" \n            src = \"{{payload.2}}\"/>\n            <div>\n                <img src=\"https://raw.githubusercontent.com/ikelee/BelAirHacks-/master/images/line.jpg\" width=\"20px\" height=\"1px\">\n            </div>\n            <img style=\n            \"width: 200px; height:400px;\" \n            src = \"{{payload.3}}\"/>\n            </div>\n        </div>\n    </body>\n</html>","x":1105.8489837646484,"y":611.2426300048828,"wires":[["711321d4.004ca","4036469f.d3c848"]]},{"id":"4036469f.d3c848","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"false","x":1248.0000648498535,"y":644.0000190734863,"wires":[]},{"id":"aad44e5a.70eea","type":"cloudant out","z":"a0d65f24.6811c","name":"","cloudant":"","database":"user_outfits","service":"TinderLogicClothes-cloudantNoSQLDB","payonly":false,"operation":"insert","x":796,"y":495,"wires":[]},{"id":"6d9e86a6.9f7758","type":"function","z":"a0d65f24.6811c","name":"","func":"var obj = msg.payload;\n\nvar bool;\nif('liked' in obj){\n    bool = true;\n}\nelse if('disliked' in obj){\n    bool = false;\n}\n\nvar items = global.get(\"AllItems\"); \nvar outfits_bool = []; \nvar number = global.get(\"WhichItem\");\nfor(var i=0; i<items.length; i++){\n    outfits_bool.push([items[i], bool, 0]); \n}\n\nif(bool === true){\n    for(var i =0; i<outfits_bool.length; i++){\n        if(outfits_bool[number][0][0]=== outfits_bool[i][0][0] && outfits_bool[number][0][1]===outfits_bool[i][0][1]){\n            outfits_bool[i][2] += 5;\n        }\n        else if(outfits_bool[number][0][0]=== outfits_bool[i][0][0] && outfits_bool[number][0][2]===outfits_bool[i][0][2]){\n            outfits_bool[i][2] += 5;\n        }\n        else if(outfits_bool[number][0][1]=== outfits_bool[i][0][1] && outfits_bool[number][0][2]===outfits_bool[i][0][2]){\n            outfits_bool[i][2] += 5;\n        }\n    }\n}\nelse{\n    for(var i =0; i<outfits_bool.length; i++){\n            if(outfits_bool[number][0][0]=== outfits_bool[i][0][0] && outfits_bool[number][0][1]===outfits_bool[i][0][1]){\n                outfits_bool[i][2] -= 5;\n            }\n            else if(outfits_bool[number][0][0]=== outfits_bool[i][0][0] && outfits_bool[number][0][2]===outfits_bool[i][0][2]){\n                outfits_bool[i][2] -= 5;\n            }\n            else if(outfits_bool[number][0][1]=== outfits_bool[i][0][1] && outfits_bool[number][0][2]===outfits_bool[i][0][2]){\n                outfits_bool[i][2] -= 5;\n            }\n    }\n}\n\n\nmsg.payload = bool;\noutput = {payload:outfits_bool};\nlist = [msg, output]; \nreturn list; ","outputs":"2","noerr":0,"x":279.39361572265625,"y":911.6578122377396,"wires":[["782751e4.d3b7c","e8f64397.04eb5"],["cdde836b.40ecc","6d1c2d4a.d29074"]]},{"id":"782751e4.d3b7c","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"true","x":531.7271881103516,"y":922.1818542480469,"wires":[]},{"id":"e8f64397.04eb5","type":"switch","z":"a0d65f24.6811c","name":"","property":"WhichItem","propertyType":"global","rules":[{"t":"lt","v":"8","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":453.96022033691406,"y":857.7613830566406,"wires":[["352ce8e.8f16d18"],["c5f5606d.21008"]]},{"id":"c5f5606d.21008","type":"http request","z":"a0d65f24.6811c","name":"","method":"GET","ret":"txt","url":"google.com","tls":"","x":725.1686706542969,"y":886.3876838684082,"wires":[["78de5222.80722c"]]},{"id":"78de5222.80722c","type":"http response","z":"a0d65f24.6811c","name":"","x":959.2549285888672,"y":905.3220148086548,"wires":[]},{"id":"c4774c4.39c9ab","type":"http in","z":"a0d65f24.6811c","name":"","url":"/user_choices/","method":"post","swaggerDoc":"","x":133.83065795898438,"y":831.9285278320312,"wires":[["6d9e86a6.9f7758"]]},{"id":"11702aa.86918d5","type":"function","z":"a0d65f24.6811c","name":"","func":"global.set(\"AllItems\",msg.payload);\nglobal.set(\"WhichItem\",1);\nreturn msg;","outputs":1,"noerr":0,"x":453.3111038208008,"y":578.2940473556519,"wires":[["4006b260.a3358c","74e1e436.1e5a5c"]]},{"id":"352ce8e.8f16d18","type":"function","z":"a0d65f24.6811c","name":"","func":"var i = global.get(\"WhichItem\");\nglobal.set(\"WhichItem\",++i);\nmsg.payload = global.get(\"AllItems\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":454.3192596435547,"y":629.7024059295654,"wires":[["4006b260.a3358c","375b4381.f07bcc"]]},{"id":"4006b260.a3358c","type":"function","z":"a0d65f24.6811c","name":"","func":"var item_number = global.get(\"WhichItem\");\nvar data = global.get(\"AllItems\");\n\nvar a = item_number;\nvar b = data[item_number].top_url;\nvar c = data[item_number].bottom_url;\nvar d = data[item_number].outerwears_url;\n\nmsg.payload = [a, b, c, d];\n\nreturn msg;","outputs":1,"noerr":0,"x":596.4534051956674,"y":607.0638779670966,"wires":[["e76ffdf3.339ce","ca182368.11823"]]},{"id":"e76ffdf3.339ce","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"false","x":759.0324801783414,"y":685.5898211079265,"wires":[]},{"id":"74e1e436.1e5a5c","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"false","x":597.025016784668,"y":564.5521478652954,"wires":[]},{"id":"375b4381.f07bcc","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"false","x":575.5704193115234,"y":682.242977142334,"wires":[]},{"id":"156d3f7c.bf6121","type":"template","z":"a0d65f24.6811c","name":"home html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<!DOCTYPE html>\n<html>\n    <head>\n        <style>{{payload.style}}</style>\n        <title>Home</title>\n        <link rel=\"stylesheet\" href=\"home.css\" />\n    </head>\n    <body>\n      <div class=\"banner\">\n        <div class=\"backgroundimg\">\n          <img src=\"https://raw.githubusercontent.com/ikelee/BelAirHacks-/master/images/hangr.jpg\"/>\n        </div>\n      </div>\n\n      <div class = \"navbar\" >\n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/home\" style=\"text-decoration:none\">home</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/user_choices\" style=\"text-decoration:none\">suggestions</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/closet\" style=\"text-decoration:none\">closet</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/upload\" style=\"text-decoration:none\">upload</a></p>\n\n\n      </div>\n      <div class =\"body\">\n        <h1>\n          <br/>\n          <br/>\n          tired of picking an outfit every occasion?\n          <br/>\n          want someone (or something) to do it for you?\n          <br/>          \n          <br/>\n          welcome to \n          <font size=\"30\" class = \"hangr\"> hangr</font> \n          <br/>\n          <br/>\n        </h1>\n        <p>\n          <font size=\"6\" class = \"hangr\"> hangr</font> is an application dedicated to finding your perfect combination of clothes every time you use it! Using <font size=\"6\" class = \"hangr\"> Watson technologies</font> by IBM, <font size=\"6\" class = \"hangr\"> hangr</font>  learns your preferences and picks out ideal 3-piece <font size=\"6\" class = \"hangr\"> outfits</font> for your ease. \n          <br/>\n          <br/>\n          All you need to do is take pictures of outfits you wish for <font size=\"6\" class = \"hangr\"> hangr</font> to pair together and upload them to our site. We'll start you off with a few pairs of outfits to create a baseline for <font size=\"6\" class = \"hangr\"> your style</font>. From then on, as you decide whether to pick the outfit we give or skip to the next one, <font size=\"6\" class = \"hangr\"> hangr</font> will keep track of your preferences to become more precise to your needs!\n     \n        </p>\n      </div>\n    </body>\n</html>\n","x":486.3368911743164,"y":338.01489639282227,"wires":[["f8e0e076.891ba"]]},{"id":"a2041130.efc56","type":"template","z":"a0d65f24.6811c","name":"home_css","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body{\n\tbackground-color: #B9C4D2;\n}\n\nhtml, body {\n  padding: 0;\n  margin: 0;\n\n}\n\n.banner {\n\tpadding-top: 20vh;\n\tpadding-bottom: 20vh;\n\tpadding-left: 50px;\n\theight: 60vh;\n\ttext-align: center;\n\tbackground-color: #344760;\n\tcolor: white;\n\tfont-size: 3.5vw;\n\tfont-family: \"Helvetica\", sans-serif;\n  \tbackground-size: cover;\n}\n\n.backgroundimg{\n\twidth: 100%;\n\theight: 100%;\n}\n\n.backgroundimg img{\n\tposition: center;\n\n\twidth: 35vw;\n\theight: 30vw;\n}\n\n.navbar{\n\twidth: cover;\n\tbackground-color: #1F2939;\n\tdisplay: flex;\n\tpadding-left: 30px;\n\tpadding-top: 20px;\n\tpadding-right: 30px;\n\tflex-direction: row;\n\tflex-wrap: nowrap;\n\tjustify-content: space-between;\n}\n.navbarword a{\n\tcolor: #AEB3B9;\n}\n\n\n.navbarword {\n\tbackground:#1F2939; \n\tfont-size: 20px;\n\tfont-size: 2.5vw;\n\tfont-color: white;\n\tfont-family: \"Helvetica\", sans-serif;\n\tpadding-top: 15px;\n\tlist-style: none;\n\tposition: relative;\n\tdisplay: inline-table;\n\tmargin-top: 0;\n}\n\n\n.body{\n\tcolor: #3F4A5F;\n\ttext-align: center;\n\tpadding-left: 150px; \n\tpadding-right: 150px;\n\tfont-family: \"Helvetica\", sans-serif;\n}\n\n.body p\n{\n\tfont-size: 20px;\n\tline-height: 30px;\n}\n\n.hangr{\n\tcolor: #1D3E7B;\n\tfont-size: 25;\n}\n\n","x":326.42208099365234,"y":335.882719039917,"wires":[["156d3f7c.bf6121"]]},{"id":"716f9ae5.c9f154","type":"http in","z":"a0d65f24.6811c","name":"","url":"/home","method":"get","swaggerDoc":"","x":142.8380126953125,"y":343.0810241699219,"wires":[["a2041130.efc56"]]},{"id":"f8e0e076.891ba","type":"http response","z":"a0d65f24.6811c","name":"","x":643.3089447021484,"y":338.01488494873047,"wires":[]},{"id":"270c495c.462e56","type":"template","z":"a0d65f24.6811c","name":"upload css","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body{\n  background-color: #B9C4D2;\n}\n\nhtml, body {\n  padding: 0;\n  margin: 0;\n}\n\n.banner {\n  padding-top: 5px;\n  height: 60px;\n  text-align: center;\n  background-color: #344760;\n  color: #bcc1c6;\n  font-size: 30px;\n  font-family: \"Helvetica\", sans-serif;\n  background-size: cover;\n}\n\n.banner h1 {\n    position: relative;\n    margin-top:-10px;\n}\n\n.navbar{\n  width: cover;\n  background-color: #1F2939;\n  display: flex;\n  padding-left: 30px;\n  padding-top: 20px;\n  padding-right: 30px;\n  flex-direction: row;\n  flex-wrap: nowrap;\n  justify-content: space-between;\n  font-size: 2.5vw;\n}\n.navbarword a{\n  color: #AEB3B9;\n}\n\n\n/* NAVBAR CSS */\n\n.navbarword {\n  background:#1F2939; \n  font-size: 20px;\n  font-size: 2.5vw;\n  font-color: white;\n  font-family: \"Helvetica\", sans-serif;\n  padding-top: 15px;\n  list-style: none;\n  position: relative;\n  display: inline-table;\n  margin-top: 0;\n}\n\n.body{\n  color: white;\n  font-family: \"Helvetica\", sans-serif;\n}\n\n.generalbody{\n  background: #B9C4D2;\n\n}\n.uploadbody{\n  padding-top: 10px;\n  color: white;\n  text-align: center;\n  font-family: \"Helvetica\", sans-serif;\n  text-align: center;\n}\n\n.buttonbar{\n  width: 100%;\n  height: 100%;\n  max-height: 100%;\n  text-align: center;\n  background-size: cover;\n  position: relative;\n  display: inline-table;\n  background-color: #B9C4D2;\n}\n\n.buttonbar div{\n  position: relative;\n  display: inline-table;\n}\n\n.hearts div{\n  position: relative;\n  background-color: #8d959d;\n  box-shadow: 5px 5px 5px #525960;\n}\n\n.hearts .brokenheart img{\n  position: left;\n  background-color: #B9C4D2;\n}\n\n.hearts .heart img{\n  position: left;\n  background-color: #B9C4D2;\n}\n\n.background {\n  display: flex;\n  height: 100%;\n  width: 100%;\n  flex-direction: row;\n  flex-wrap: nowrap; \n  justify-content: space-between;\n}\n\n\nflex-shrink: 10;\nflex-grow: 10;\nflex-basis: auto;\n\n.bg1 img{\n  width: 30%;\n  height: 70%;\n  background-color: #B9C4D2;\n}\n\n.closetpics{\n  margin: 100px 100px 100px 100px;\n\n  display: flex;\n  flex-direction: row;\n  flex-wrap: wrap;\n  justify-content: space-around;\n  align-content: stretch;\n}\n\n.img img{\n  background-color: #B9C4D2;\n  border-width: 10px;\n  border-color: white;\n}\n\n\n","x":580.7675704956055,"y":34.11514091491699,"wires":[["a2fb770b.d392f8"]]},{"id":"cdde836b.40ecc","type":"cloudant out","z":"a0d65f24.6811c","name":"","cloudant":"","database":"outfits_bool","service":"TinderLogicClothes-cloudantNoSQLDB","payonly":false,"operation":"insert","x":533.8264007568359,"y":972.8681945800781,"wires":[]},{"id":"6d1c2d4a.d29074","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"payload","x":388.8299102783203,"y":1008.7778015136719,"wires":[]},{"id":"ca182368.11823","type":"template","z":"a0d65f24.6811c","name":"suggestion css","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body{\n  background-color: #B9C4D2;\n}\n\nhtml, body {\n  padding: 0;\n  margin: 0;\n}\n\n.banner {\n  padding-top: 5px;\n  height: 60px;\n  text-align: center;\n  background-color: #344760;\n  color: #bcc1c6;\n  font-size: 30px;\n  font-family: \"Helvetica\", sans-serif;\n  background-size: cover;\n}\n\n.banner h1 {\n    position: relative;\n    margin-top: -10px;\n}\n\n.navbar{\n  width: cover;\n  background-color: #1F2939;\n  display: flex;\n  padding-left: 30px;\n  padding-top: 20px;\n  padding-right: 30px;\n  flex-direction: row;\n  flex-wrap: nowrap;\n  justify-content: space-between;\n  font-size:2.5vw;\n}\n.navbarword a{\n  color: #AEB3B9;\n}\n\n\n/* NAVBAR CSS */\n\n.navbarword {\n  background:#1F2939; \n  font-size: 20px;\n  font-size: 2.5vw;\n  font-color: white;\n  font-family: \"Helvetica\", sans-serif;\n  padding-top: 15px;\n  list-style: none;\n  position: relative;\n  display: inline-table;\n  margin-top: 0;\n}\n\n.body{\n  color: white;\n  font-family: \"Helvetica\", sans-serif;\n}\n\n.generalbody{\n  background: #B9C4D2;\n\n}\n.uploadbody{\n  padding-top: 10px;\n  color: white;\n  text-align: center;\n  font-family: \"Helvetica\", sans-serif;\n  text-align: center;\n}\n\n.buttonbar{\n  width: 100%;\n  height: 100%;\n  max-height: 100%;\n  text-align: center;\n  background-size: cover;\n  position: relative;\n  display: inline-table;\n  background-color: #B9C4D2;\n}\n\n.buttonbar div{\n  position: relative;\n  display: inline-table;\n}\n\n.hearts div{\n  position: relative;\n  background-color: #8d959d;\n}\n\n.hearts .brokenheart img{\n  position: left;\n  background-color: #B9C4D2;\n  box-shadow: 5px 5px 5px #525960;\n}\n\n.hearts .heart img{\n  position: left;\n  background-color: #B9C4D2;\n}\n\n.background {\n  display: flex;\n  height: 100%;\n  width: 100%;\n  flex-direction: row;\n  flex-wrap: nowrap; \n  justify-content: space-between;\n}\n\n\nflex-shrink: 10;\nflex-grow: 10;\nflex-basis: auto;\n\n.bg1 img{\n  width: 30%;\n  height: 70%;\n  background-color: #B9C4D2;\n}\n\n.closetpics{\n  margin: 100px 100px 100px 100px;\n\n  display: flex;\n  flex-direction: row;\n  flex-wrap: wrap;\n  justify-content: space-around;\n  align-content: stretch;\n}\n\n.img img{\n  background-color: #B9C4D2;\n  border-width: 10px;\n  border-color: white;\n}\n\n\n","x":896.8958129882812,"y":609.888916015625,"wires":[["aa7c29d5.581768"]]},{"id":"707d3327.409c4c","type":"template","z":"a0d65f24.6811c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n     <style>{{payload.style}}</style>\n    <head>\n        <title>Closet</title>\n    </head>\n    <body>\n      <div class=\"banner\">\n        <h1>Closet</h1>\n      </div>\n      <div class = \"navbar\" >\n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/home\" style=\"text-decoration:none\">home</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/user_choices\" style=\"text-decoration:none\">suggestions</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/closet\" style=\"text-decoration:none\">closet</a></p>        \n        <p class=\"navbarword\"><a href=\"https://hangr.mybluemix.net/upload\" style=\"text-decoration:none\">upload</a></p>   \n      </div>\n      <p>\n        <div id=\"closetpics\">\n            <table id=\"closetpicss\">\n          <tr id=\"first_row\">\n          <td><img style='border:10px solid #415171; width:200px; height:300px;' class=\"img\" src=\"{{payload.0.payload.url}}\"/></td>           \n          <td><img style='border:10px solid #415171; width:200px; height:300px;' class=\"img\" src=\"{{payload.1.payload.url}}\" /></td>           \n          <td><img style='border:10px solid #415171; width:200px; height:300px;' class=\"img\" src=\"{{payload.2.payload.url}}\" /></td>\n          <td><img style='border:10px solid #415171; width:200px; height:300px;' class=\"img\" src=\"{{payload.3.payload.url}}\" /></td>\n              </tr>  \n            </table>\n        </div>\n      </p>\n    </body>\n</html>\n\n<script>\n    \n    var table = document.getElementById(\"closetpicss\");\n    \n    var row = document.getElementById('first_row');\n    \n    for (var i = 0; i < msg.payload.length; i++) {\n    var cell1 = row.insertCell(row.length);\n    var smth = payload.i.payload.url;\n    cell1.innerHTML = \"<img style='border:10px solid #415171; width:200px; height:300px;' class='img' src='{{smth}}'/>\";\n    }\n    \n</script>","x":856,"y":1289,"wires":[["17dfe04a.c0d92","9d444f06.25499"]]},{"id":"4c02b0a8.b8ce2","type":"template","z":"a0d65f24.6811c","name":"closet css","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body{\n  background-color: #B9C4D2;\n}\n\nhtml, body {\n  padding: 0;\n  margin: 0;\n}\n\n.banner {\n  padding-top: 5px;\n  height: 60px;\n  text-align: center;\n  background-color: #344760;\n  color: #bcc1c6;\n  font-size: 30px;\n  font-family: \"Helvetica\", sans-serif;\n  background-size: cover;\n}\n\n.banner h1 {\n    position:relative;\n    margin-top:-10px;\n}\n\n.navbar{\n  width: cover;\n  background-color: #1F2939;\n  display: flex;\n  padding-left: 30px;\n  padding-top: 20px;\n  padding-right: 30px;\n  flex-direction: row;\n  flex-wrap: nowrap;\n  justify-content: space-between;\n  font-size:2.5vw;\n}\n.navbarword a{\n  color: #AEB3B9;\n}\n\n\n/* NAVBAR CSS */\n\n.navbarword {\n  background:#1F2939; \n  font-size: 20px;\n  font-size: 2.5vw;\n  font-color: white;\n  font-family: \"Helvetica\", sans-serif;\n  padding-top: 15px;\n  list-style: none;\n  position: relative;\n  display: inline-table;\n  margin-top: 0;\n}\n\n/* NAVBAR CSS */\n/*nav ul {\n  background:#1F2939; \n  font-size: 20px;\n  font-family: \"Helvetica\", sans-serif;\n  padding-top: 10px;\n  list-style: none;\n  position: relative;\n  display: inline-table;\n}\n\nnav ul li \n{\n  float: left;\n}\n\nnav ul li a {\n  display: block; \n  padding: 7px 93px;\n  color: #AEB3B9;     \n  text-decoration: none;\n}*/\n\n.body{\n  color: white;\n  font-family: \"Helvetica\", sans-serif;\n}\n\n.generalbody{\n  background: #B9C4D2;\n\n}\n.uploadbody{\n  padding-top: 10px;\n  color: white;\n  text-align: center;\n  font-family: \"Helvetica\", sans-serif;\n  text-align: center;\n}\n\n\n/* BUTTONBAR CSS */\n.buttonbar{\n  width: 100%;\n  height: 100%;\n  max-height: 100%;\n  text-align: center;\n  background-size: cover;\n  position: relative;\n  display: inline-table;\n  background-color: #B9C4D2;\n}\n\n.buttonbar div{\n  position: relative;\n  display: inline-table;\n}\n\n.hearts div{\n  position: relative;\n  background-color: #8d959d;\n  box-shadow: 5px 5px 5px #525960;\n}\n\n.hearts .brokenheart img{\n  position: left;\n  background-color: #B9C4D2;\n}\n\n.hearts .heart img{\n  position: left;\n  background-color: #B9C4D2;\n}\n\n.background {\n  display: flex;\n  height: 100%;\n  width: 100%;\n  flex-direction: row;\n  flex-wrap: nowrap; \n  justify-content: space-between;\n}\n\n\nflex-shrink: 10;\nflex-grow: 10;\nflex-basis: auto;\n\n.bg1 img{\n  width: 30%;\n  height: 70%;\n  background-color: #B9C4D2;\n}\n\n#closetpics{\n  margin: 100px 100px 100px 100px;\n  margin-top:0px;\n  display: flex;\n  flex-direction: row;\n  flex-wrap: wrap;\n  justify-content: space-around;\n  align-content: stretch;\n}\n\n\n#closetpics table{\n  margin: 100px 100px 100px 100px;\n  display: flex;\n  flex-direction: row;\n  flex-wrap: wrap;\n  justify-content: space-around;\n  align-content: stretch;\n}\n\n#closetpics table tr{\n  margin: 100px 100px 100px 100px;\n  display: flex;\n  flex-direction: row;\n  flex-wrap: wrap;\n  justify-content: space-around;\n  align-content: stretch;\n}\n\n.img {\n    margin-top: 50px;\n}\n\n.img img{\n  background-color: #B9C4D2;\n  border-width: 10px;\n  border-color: white;\n}\n\n\n","x":627.0468139648438,"y":1288.646240234375,"wires":[["707d3327.409c4c"]]},{"id":"9d444f06.25499","type":"debug","z":"a0d65f24.6811c","name":"","active":true,"console":"false","complete":"false","x":1043,"y":1371,"wires":[]}]
